$primary     : #1db954
$secondary   : #ffffff
$accent      : #242424
$accent-two  : #7e7e7e

$dark        : #000000
$dark-accent : #121212

.text-accent-two
  color: $accent-two !important

.bg-accent-two
  background: $accent-two !important

.text-dark-accent
  color: $dark-accent !important

.bg-dark-accent
  background-color: $dark-accent !important

@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap')

.tiny5-regular
  font-family: "Tiny5", sans-serif
  font-weight: 400
  font-style: normal

$typography-font-family : 'Tiny5', sans-serif !default